body {
    background-color: #faebd6;
}

h1 {
    color: #ff0000;
    line-height: 40px
}

#pierwszy {
    color: #a42423;
    line-height: 40px;
}

#drugi {
    color: #00008f;
    line-height: 40px
}